:root {
	--background-color: #0f0f0f;
	--foreground-color: #ffffff;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Inter';
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-color: #0f0f0f;
		--background-color: #ffffff;
	}
}

@font-face {
	font-family: 'Inter';
	src: url('/inter.otf');
}
