:root {
	--background-color: #0f0f0f;
	--foreground-color: white;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Inter';
}

@media (prefers-color-scheme: light) {
	body {
		background-color: var(--foreground-color);
		color: var(--background-color);
	}
}

@font-face {
	font-family: 'Inter';
	src: url('/inter.otf');
}
